<div>
  <div class="titulo">
    <div class="titulo-center">
      <h1>{{titulo}}</h1>
    </div>
    <div class="titulo-addButton">
      <button (click)='openDialogCreate()' *ngIf="numberOfEquipos > 0"><i nz-icon nzType="plus"
          nzTheme="outline"></i></button>
    </div>
  </div>
  <div class="lista">
    <div class='col-5' *ngFor="let equipo of equipos; let i = index">
      <div class='card'>
        <div [routerLink]="['/jugadores']" [queryParams]="{l: equipo.id}" >
          <img src='{{equipo["Logo del Equipo"]}}' alt="">
          <p>{{equipo["Nombre del equipo"]}}</p>
        </div>
        <div class="card_buttoms">
          <button type="button" (click)="showConfirmDelete(equipo,i)" class="card_buttoms-buttom">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
          <button type="button" (click)="openDialogUpdate(equipo)" class="card_buttoms-buttom">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
        </div>
      </div>
      <nz-divider></nz-divider>
    </div>
  </div>
  <nz-pagination *ngIf="numberOfEquipos > 10" class="center pagination" [nzPageIndex]="1" [nzTotal]="numberOfEquipos"
    (nzPageIndexChange)="changePage($event)" [nzPageSize]="10">
  </nz-pagination>
  <nz-result *ngIf="numberOfEquipos == 0" nzStatus="info" nzTitle="No se encontraron resultados"></nz-result>

</div>